* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #27397e;
    color: #ffffff;
    display: flex;
    padding: 1em 3em 0;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}
.brand img {
    width: 4em;
    margin-bottom: 1em;
    display: block;
    position: relative;
    z-index: 20;
}

.navbar ul {
    display: flex;
    flex-direction: column;
}

.navbar li {
    list-style: none;
    min-height: 2rem;
    text-align: center;
    padding-top: 0.5em;
    transition: background 300ms ease-in-out;
}

.navbar li:hover {
    background: #364789;
}
.nav-toggler {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 20;
}
.nav-toggler span {
    min-width: 40px;
    margin-bottom: 0.5em;
    min-height: 5px;
    border-radius: 10px;
    background: white;
    display: block;
}
#nav-toggler {
    display: none;
}
.navbar {
    right: 0;
    left: 0;
    z-index: 10;
    transform: translateY(-100%);
    background: #27397e;
    position: absolute;
    transition: transform 500ms ease-in-out,
                opacity 250ms ease-in;
    opacity: 0;
    padding-right: -1em;
}
#nav-toggler:checked ~ .navbar {
    transform: translateY(78%);
    transition: opacity 1000ms cubic-bezier(0.32,-0.3, 0.7, 0.82);
    opacity: 1;
}

@media (min-width: 900px) {
    .nav-toggler {
        display: none;
    }
    .navbar {
        transition: unset;
        transform: unset;
        display: block;
        position: relative;
        opacity: 1;
    }
    #nav-toggler:checked ~ .navbar {
        transform: unset;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar ul {
        flex-direction: row;
        padding-top: 1em;
    }
    .navbar li {
        padding-left: 1em;
        padding-right: 1em;
    }
}
